Adafruit-Blinka==8.39.1
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-requests==3.2.4
adafruit-circuitpython-sht4x==1.0.19
adafruit-circuitpython-tca9548a==0.7.3
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
contourpy==1.2.1
CoolProp==6.6.0
cycler==0.12.1
fonttools==4.51.0
hx711==1.1.2.3
kiwisolver==1.4.5
matplotlib==3.9.0rc2
numpy==2.0.0rc1
packaging==24.0
pillow==10.3.0
pyftdi==0.55.4
pyparsing==3.1.2
PyQt6==6.6.1
PyQt6-Qt6==6.6.3
PyQt6-sip==13.6.0
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
six==1.16.0
typing_extensions==4.11.0
